.nav-panel {
   display: flex;

   padding-left: 15px;

   a {
    margin: 0 10px;
    font-size: 24px;
   }

   @media screen and (max-width: 500px) {
      font-size: 10px;
    }
}

.active {
   text-shadow: 1px 1px 1px aquamarine;

   color: black !important;
}