.personal-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  margin: 50px 0;
}

.personal-data_location {
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    height: 30px;

    margin: 0 5px;
  }
  a {
    text-decoration: none;
  }
}

.contacts {
  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  flex-wrap: wrap;

  @media screen and (max-width: 500px) {
    justify-content: center;
  }

  .contacts_info {
    width: 230px;
    height: 50px;

    display: flex;
    align-items: center;

    @media screen and (max-width: 500px) {
      width: 60px;
    }

    svg {
      width: 50px;
      height: 50px;
    }
    p {
      margin: 0;
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
}