.skills {
  width: 100%;
  display: flex;

  overflow: hidden;
}

.ticker {
  max-height: 90px;
  margin:0 auto;
  p {
    text-align:center;
    text-transform: uppercase;
    padding-top: 35px;
    animation: text 15s infinite linear;
    padding-left: 100%;
    white-space: nowrap;
    span {
      margin: 10px;
    }
  }
  @keyframes text {
    0%{
      transform: translate(0, 0);
    }
    
    100%{
      transform: translate(-200%, 0);
    }
  }
}